.venv/
venv/
env/

__pycache__/
*.py[cod]
*.pyd

.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

dist/
build/
*.dist/
*.build/

data/*.json

.idea/
.vscode/

*.log
*.tmp
*.bak
Thumbs.db
.DS_Store
